
.border {
    border: 1px solid red
}
.border-green {
    border: 1px solid green
}
.fb-icon {
    padding: 1rem
}
.fa-facebook {
    color: #00f;
    transition: all .5s ease
}
.fa-facebook:hover {
    color: #000
}
.fb-like {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
}

.logoimg {
    max-width: 97vw;
}
.loginimg {
    width: 300px;
    max-width: 96vw
}